div#zdj1

img{
    position: relative;
    top: 5px;
    float: left;
    max-width: 19%;
    height: auto;
    margin: 18px;
}

div#zdj2

img{
    float: left;
    max-width: 17%;
    height: auto;
    margin: 18px;
}



div#zdj3

img{
    float: left;
    max-width: 17%;
    height: auto;
    margin: 18px;
}



div#zdj4

img{
    float: left;
    max-width: 17%;
    height: auto;
    margin: 18px;
}



div#zdj5

img{
    float: left;
    max-width: 17%;
    height: auto;
    margin: 18px;
}


